{% extends 'base.html' %}


{% block metatitle %}Мы это независимое мнение обо всем что происходит вокрут нас. Мы стараемся писать о проблемах которые нас окружают.{% endblock metatitle %}
{% block metades %} Пишем о проблемах современного мира. О том что нас окружает. Проблемы человечества и России. Разбираемся как улучшить нашу жизнь вместе. {% endblock metades %}
{% block title %} ZAREPOST.COM - КТО МЫ И ЧЕГО ХОТИМ{% endblock title %}


{% block content %}
  <div class="container_about">
  	<div class="info_about">
    <p> 
		Мы хотим рассказывать о том, что происходит на самом деле. Для нас не существует преград. 
		Мы те кто хотят рассуждать и говорить.
     </p>
  	</div>
  </div>

{% endblock content %}
