{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="{% block metatitle %} {% endblock metatitle %}">
    <meta name="description" content="{% block metades %} {% endblock metades %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" /> 
    <link rel="shortcut icon"  href="{% static 'assets/user.png' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/social-likes/dist/social-likes_flat.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/social-likes/dist/social-likes.min.js"></script>
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    {% include 'user.html' %}
    {% include 'header.html' %}
    <div class='main_container'>
        {% block content %}
        {% endblock content %}
    </div>
    <script src="{% static 'js/scroll.js' %}"></script>
    <script src="{% static 'js/comments.js' %}"></script>
  </body>
</html>
